    <h2>Important Links</h2>
    <p> <a href = "https://www.vjti.ac.in/index.php/aboutus/vjtihistory" target="_blank"> &#8658; Our History </a></p>
    <p> <a href = "https://www.vjti.ac.in/index.php/academics" target="_blank"> &#8658; Academics </a></p>
    <p> <a href = "https://www.vjti.ac.in/index.php/admissions" target="_blank"> &#8658; Admissions </a></p>
    <p> <a href = "https://www.vjti.ac.in/index.php/tpo" target="_blank"> &#8658; Placement Cell </a></p>
    <p> <a href = "https://www.vjti.ac.in/index.php/contactus" target="_blank"> &#8658; Contact Us </a></p>
